/*

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* clear fix */

/* ---- .grid-item ---- */


* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/





/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

/*
---------------------------------------
Popular Categories
---------------------------------------
*/


/*
---------------------------------------------
Recent Listing 
---------------------------------------------
*/



/*
---------------------------------------------
Footer
---------------------------------------------
*/

footer {
  z-index: 11;
  border-top: 2px solid #eee;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  top:999;
  min-width: 100%;
  bottom: 0;
  font-weight: 500;
}

footer h4 {
  font-size: 20px;
  font-weight: 700;
  color: #8d99af;
  margin-bottom: 30px;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer ul li{
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}
footer p,
footer a {
  color: #2a2a2a;
  font-size: 0.9pc;
  text-decoration: none;

}


.sub-footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eee;
  justify-content: center;
  display: none;
}

.sub-footer img {
  width: 20px;
}

.sub-footer a {
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 0px; 
  text-decoration: none;

}

.icon-bnb{
  width: 20px;
  background: url("/assets/images/magnifying-glass-icon.png") image-set(-20px);
  display: inline-block;
}

.footer-icon {
  font-size: 20px;
  color: rgb(191, 191, 191);
  cursor: pointer;
  user-select: none;
}

.footer-icon:hover{
  color: rgb(151, 151, 151);
}

.footer-icon-inactive{
  color:rgb(191, 191, 191);
}

.footer-icon-active{
  color:#ff1b2e;
}
.footer-icon-active:hover{
  color:#ff1b2e;
}
/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

/* 
---------------------------------------------
Page Heading
--------------------------------------------- 
*/

.backdrop {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: rgb(0,0,0, 0.5);
}

.sign-in-form {
  position: fixed;
  z-index: 110;
  background-color: white;
  width:  500px;
  color: #3d424b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slide-down 300ms ease-out forwards;
  
  border-radius: 0.5rem;
  padding: 0 1.5rem;
}
#remove-button  {
  background-color: transparent;
  border: none;
  position: absolute;
}
.sign-in-header div {
  text-align: center;
}
.sign-in-form li {
  background-color: rgba(0,0,0,0.15);
}
.sign-in-form ul {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.sign-in-header {
  border-bottom: 1px solid rgba(0,0,0, 0.25);
  padding: 1rem 0;
}
.sign-in-form form {
  padding-bottom: 1rem;
}
.sign-in-form h5 {
  padding-bottom: 0.75rem;
  font-weight: bold;
}

@keyframes slide-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sign-in-modal {
  display: none;
}

.form-control{
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #8D99AF;
  border-radius: 0%;
}

.form-label {
  margin-top: 8px;
  margin-bottom: 4px;
}

small {
  color:rgb(227, 3, 3);

}

/* 
---------------------------------------------
Pre Loader
--------------------------------------------- 
*/



/* 
---------------------------------------------
about-us
--------------------------------------------- 
*/
.about-banner {
  padding: 50px;
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
  background-color: #365150;
  color: black;
}

.about-banner h1,h6{
  color:rgb(250, 229, 191);
}
.about-banner p {
  color: rgb(250, 229, 191);
}

.about-section {
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background-color: rgb(250, 229, 191);
}

.about-section div {
  box-sizing: border-box;
}

.about-section div img {
  object-fit: contain;
  border-radius: 50%;
  padding-bottom: 18px;
  width:max-content;  
}

.about-section h2,p {
  color:#0f1716;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}

.column-bnb {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}

.card {
  border: none;
  padding-left: 170px;
  padding-right: 170px;
  background-color: rgb(250, 229, 191);

}

.about-section .container {
  padding: 0 16px;
  background-color: rgb(250, 229, 191);
}

.about-section .container::after, .roww::after {
  content: "";
  clear: both;
  display: table;
  
}

.button-3 {
  appearance: none;
  background-color: #365150;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #284140;
}

.button-3:focus {
  box-shadow: #315453 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #77c3c0;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #41827f;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* css for search bar */

.bar{
  box-sizing:border-box;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:sans-serif;
  width:650px;
  background:white;
  box-shadow:0 0 5px hsl(0 0% 78%);
  height:55px;
  border-radius:100vw;
  display:flex;
  justify-content:center;
  font-size:0.6rem;
}

.bar div{
  border-radius:inherit;
  padding:0.8rem 1.5rem;
  transition:background 250ms ease;
}

.bar div:hover{
  background:hsl(0 0% 94%);
}

.location{
  width:34%;
}
.check-in, .check-out, .guests{
  width:22%;
}

input[type="text"]{
  background:none;
  border:none;
  padding:0.2rem 0 0 0;
}

input[type="text"]:focus{
  outline:none;
}

::placeholder{
  font-size:0.75rem;
}

.guests{
  position: relative;  
}
.guests span{
  position:absolute;
  top:50%;
  right:10px;
  transform:translateY(-50%);
  background:#FF385C;
  color:white;
  font-size:0.8rem;
  padding:0.7rem;
  border-radius:50%;
}

.bar>div{
  position:relative;
}


.bar>div::before{
  position:absolute;
  content:"";
  left:0;
  top:50%;
  transform:translateY(-50%);
  width:1px;
  height:55%;
  background:hsl(0 0% 90%);
}

.bar>div:nth-of-type(1)::before{
   background:transparent;
}


.bar>div:hover::before{
  background:transparent;
}

/* slider bar */

.wrapper {
  box-sizing: border-box;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  padding: 25px;
  position: relative;
  overflow-x: hidden;
  background: #fff;
}
.wrapper .icon2 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon2:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, #fff 70%, transparent);
}
.icon2:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon2 i {
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.icon2 i:hover {
  background: #8c9aad4e;
}
.icon2:first-child i {
  margin-left: 15px;
} 
.icon2:last-child i {
  margin-right: 15px;
} 
.wrapper .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 10px;
  white-space: nowrap;
  padding: 4px 4px;
  border-radius: 30px;
  min-width: 120px;
  text-align: center;
}
.tabs-box .tab:hover{
  background: #8c9aad4e;
}
.tabs-box .dragging .tab {
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab.active{
  color: #fff;
  background: #8d99afcb;
  border-color: transparent;
}
.tabs-box .tab.active p{
  font-weight: 600;
}
.tab img{
  height: 28px;
  width: 28px;
  display: inline-block;
}
.tab p{
  text-align: center;
  font-size: 12px;

}

/* airbnb button */

.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

/* product card */
.product-card{
  display: grid;  
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: repeat(none, 320px);
  grid-gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.card2 {
  max-width: 320px;
  margin: auto;
}

.flexing{
  position: relative;
}

.layer-hi{
  position: absolute;
  top: 16px;
  right: 16px;
}

.price {
    font-weight: 700;
    font-size: 15px;
}

.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card2 button:hover {
  opacity: 0.7;
}
.card2 p{
  text-align: left;
  padding: 0px;
}
.card2 img {
  height:300px;
  width: 320px;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4%;
}
.icon-star{
  font-size: 12px;
  display: flex; 
  padding-bottom: 0px;
  margin-right: 0px;
  margin-left: auto;
}

.fa-star{
  margin:auto;
}
.info-card{
  padding-top: 12px;
}
.info-card p{
  line-height: 1.6;
  font-size: 14px;
}
.info-card .main-name{
  display: flex;
}
.info-card .main-name p{
  font-size: 15px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info-card .price-info{
  display: flex; 
  padding-top: 5px;
}